.Posts {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
}

.Posts_a {
    color: inherit;
    text-decoration: inherit;
    font-weight: inherit;
    width: min-content;
}

@media (min-width: 200px) and (max-width: 600px) {
    .Posts {
        width: 100%;
    }
}

